<h1>Nested Resources Demo</h1>

<b>Site Pages</b>
<ul>
	<li><%= link_to 'About', pages_about_path %></li>
	<li><%= link_to 'Help', pages_help_path %></li>
	<li><%= link_to 'Contact', pages_contact_path %></li>
</ul>
